services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: music
      POSTGRES_USER: music
      POSTGRES_PASSWORD: music
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U music -d music"]
      interval: 5s
      timeout: 5s
      retries: 20

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 5s
      timeout: 5s
      retries: 20

  api:
    build: .
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_healthy
    environment:
      DB_URL: jdbc:postgresql://postgres:5432/music
      DB_USER: music
      DB_PASS: music
      MINIO_ENDPOINT: http://minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      MINIO_BUCKET: album-covers
      ALLOWED_ORIGINS: http://localhost:3000
      JWT_SECRET: CHANGE_ME_SUPER_SECRET_64_CHARS_MINIMUM________________
      DEMO_USER: admin
      DEMO_PASS: admin123
      JAVA_TOOL_OPTIONS: >-
        -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
    ports:
      - "8080:8080"
      - "5005:5005"
